Flask==3.0.0
gunicorn==21.2.0
Werkzeug==3.0.1
Jinja2==3.1.3
itsdangerous==2.1.2
click==8.1.7

# Image tools
Pillow==10.2.0

# PDF tools
PyPDF2==3.0.1

# QR code
qrcode==7.4.2

# Text / utility
python-dateutil==2.9.0.post0
requests==2.31.0

# Optional (audio / video tools ke liye)
moviepy==1.0.3

flask
pdf2docx
docx2pdf
pypdf
requests
edge-tts