function download(option){
  closePopup();
  document.getElementById("loading").style.display="block";

  fetch("/instagram-download",{
    method:"POST",
    headers:{"Content-Type":"application/json"},
    body:JSON.stringify({
      url:urlInput.value.trim(),
      option:option
    })
  })
  .then(res=>{
    if(!res.ok) throw new Error();
    return res.blob();
  })
  .then(blob=>{
    document.getElementById("loading").style.display="none";
    const a=document.createElement("a");
    a.href=URL.createObjectURL(blob);
    a.download = option==="audio" ? "instagram.mp3" : "instagram.mp4";
    a.click();
  })
  .catch(()=>{
    document.getElementById("loading").style.display="none";
    alert("Download failed (private / login required)");
  });
}
